<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark default-color ie-nav" [containerInside]="false">
    <mdb-navbar-brand> 
        <a class="logo navbar-brand" routerLink="/welcome"><strong>ALTRAN</strong></a> 
        <a class="logo navbar-brand" routerLink="/register-user"> Usuários</a>
        <a class="logo navbar-brand" routerLink="/list-user">Lista Usuarios</a> 
        <a class="logo navbar-brand" routerLink="/register-itens">Itens</a> 
        <a class="logo navbar-brand" routerLink="/register-carrinho">Carrinho</a> 
    </mdb-navbar-brand>
    <links>
        <ul class="navbar-nav ml-auto nav-flex-icons">
           <!-- <li class="nav-item waves-light" mdbWavesEffect> 
                <a class="nav-link" routerLink="register-user" routerLinkActive="active">Usuários</a> 
            </li>
            <li class="nav-item waves-light" mdbWavesEffect> 
                <a class="nav-link" routerLink="register-itens" routerLinkActive="active">Itens</a> 
            </li>
            <li class="nav-item waves-light" mdbWavesEffect> 
                <a class="nav-link" routerLink="register-carrinho" routerLinkActive="active">Carrinho</a> 
            </li> -->
        </ul>
        <ul class="navbar-nav ml-auto nav-flex-icons">
            <li class="nav-item waves-light py-1 mx-3" mdbWavesEffect> 
                
            </li>
            <li class="nav-item dropdown" dropdown> 
                
            </li>
        </ul>
    </links>
</mdb-navbar>