<div class="d-flex justify-content-center align-items-center ">

    <!-- Content -->
    <div class="container px-md-3 px-sm-0">

      <!--Grid row-->
      <div class="row">

        <!--Grid column-->
        <div class="col-md-12 mb-4 grey-text text-center">

          <h3 class="display-3 font-weight-bold text-default mb-0 mt-5 pt-md-5 pt-5">Altran Projet</h3>
          <hr class="hr-light my-4 w-75">
          <h4 class="subtext-header mt-2 mb-4">
            Aplicação teste para implentar CRUD em uma loja
                         
          </h4>
          <h4 class="subtext-header mt-2 mb-4">
            Candidato: Leandro Reis            
          </h4>
          <h4 class="mb-4 blue-text">
            Desafios a ser superado:           
          </h4>
         
        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

    </div>
    <!-- Content -->

  </div>
