<div class="d-flex justify-content-center align-items-center ">
    <div class="container px-md-3 px-sm-0">
      <div class="row">
        <div class="col-md-12 mb-4 grey-text text-center">

          <h3 class="display-3 font-weight-bold text-default mb-0 mt-5 pt-md-5 pt-5">Altran Projet</h3>
          <hr class="hr-light my-4 w-75">
          <h4 class="subtext-header mt-2 mb-4">
            Aplicação teste para implentar CRUD em uma loja
          </h4>
          <h4 class="subtext-header mt-2 mb-4">
            Candidato: Leandro Reis            
          </h4>
          <h4 class="mb-4 blue-text">
            Desafios a ser superado:           
          </h4>
        <p>Bootstrap: - Melhorar o layout dos components, tornando a aplicação mais intuitiva</p>
        <p>Routes: - Melhorar o uso de rotas</p> 
        <p>Arquitetura: - Melhorar a estrutura do projeto, separar melhor as classes e código</p>
        <p> Junits </p>
        <h4 class="mb-4 blue-text">
            Importante:           
        </h4>
        <p>Como a aplicação esta no heroku e a base esta em Mongo Atlas, algumas funções podem demorar para finalizar!</p>
        </div>
      </div>
    </div>
  </div>
